<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>猎聘</title>
	<link rel="stylesheet" href="../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../static/css/main.css" />
	<link rel="stylesheet" href="../../static/css/sign.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" />
</head>
<body class="body-bg">
	<!--导航栏 -->
		<div class="container">
			<div class="navbar-header navbar-left">
				<a href="index.html" class="navbar-brand"></a>
			</div>
		</div>		
	
	<div  class="container bg-success container-info ">
		<div class="col-sm-9">
			<h1>完善个人信息</h1>			
	   		<form class="form-horizontal">                   
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-8">
                            <input type="text" name="empName" class="form-control" id="uemail_add_input" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                                                                           
                    <div class="form-group">
                        <label class="col-sm-2 control-label">目前职位</label>
                        <div class="col-sm-8">
                            <input type="text" name="empName" class="form-control" id="upostion_add_input" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                                      
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">期望职位</label>
                        <div class="col-sm-8">
                            <input type="text" name="empName" class="form-control" id="eposition_add_input" >
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
		</div>
		<div class="col-sm-3">										
			 <a href="../index-sign.html"class="btn btn-success btn-float">下一步</a>
		</div>	
	</div>
	
	
	<div class="footer">
		<p>©2020 猎聘 (京)-经营性-2017-0020  京公网安备11000002000001号  京ICP证030173号</p>		
	</div>
	
</body>
</html>