<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>猎聘</title>
	<link rel="stylesheet" href="../../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../static/css/main.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.ico" />	
</head>
<body>
	<!--导航栏 -->
		<div class="container">
			<div class="navbar-header navbar-left">
				<a href="index.html" class="navbar-brand"></a>
			</div>
		</div>		
	
	
	<div  class="container ">
		<div class="col-sm-7">	
			<img src="../../static/img/sign.png" class="img-bg"/>
		</div>
		<div class="col-sm-5 container-small">
		<h1>注册</h1>
		<form action="signup-information.html">	
			<div class="form-group">
				<label>用户名</label>
				<input type="email" class="form-control"/>
			</div>
			
			<div class="form-group">
				<label>密码</label>
				<input type="password" class="form-control"/>
			</div>
			
			<div class="form-group">
				<label>确认密码</label>
				<input type="password" class="form-control"/>
			</div>
			
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">注册</button>
			</div>
			<div class="form-group">
				注册猎聘即代表您同意<a href="#">猎聘服务条款</a>
			</div>	
	   </form>
	 </div>
	</div>
	
	
	<div class="footer">
		<p>©2020 猎聘 (京)-经营性-2017-0020  京公网安备11000002000001号  京ICP证030173号</p>		
	</div>
	
</body>
</html>