.container{
	border: 1px;
}

:focus {
    outline: 0;
    outline-color: none;
    outline-style: none;
    outline-width: 0;
}

a:hover{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
	border-radius: 3px;
	padding-top: 25px;
}

.navbar-default {
    font-size: 18px;
    padding:1px 0px 1px 0px;
    margin: 0px;
    background-color: #FFFFFF ;
}

.btn-groupn{
	padding-top: 10px;
}

.btn-groupn a{
	color: #000000;
}

.btn-groupn a:hover{
	color: #02b84c;
}


.dropdown-menu li a{
	color: #737373;
}
.dropdown-menu li a:hover{
	color: #02b84c;
}

.navbar-default .navbar-nav a{
	padding-left: 30px;
	padding-right: 30px;
}

.navbar-brand{
	background-image: url(../img/logo.png);
	width: 150px;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center center;
	
}

.container-small{
	padding-top: 190px;
	padding-left: 20px;
	max-width:460px;
}

.container-small1{
	padding-top: 120px;
	padding-left: 20px;
	max-width:460px;
}

.container-adapt{
	margin: 0 350px 0 350px;
	width: 1500px;
	position: relative;
}
.img-bg{
	padding-top: 100px;
	width: 660px;
}
.btn-primary{
	background-color: #02b84c;
	border-color: #02b84c ;
}
.btn-primary:hover{
	background-color: #068e3e;
	border-color: #068e3f;
}


.btn-primary:focus:hover{
	background-color: #068e3e;
	border-color: #068e3f;
}

.footer {
	margin-top: 20px;
	padding: 200px 0;
	text-align: center;
	color: #999;
}
 
.carousel img{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 320px;
} 

.position-list-item{
	border: solid;
	border-width: 1px;
	border-color: #F0F0F0;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.position-list-item .infoleft span{
	margin-right:40px ;
}

.position-list-item:first-child{
	margin-top: 0;
}
.position-list-item .title {
	border: 0;
	background-color: white;
	color: #000000;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	margin-top: 30px;
}

.position-list-item .title1 {
	display: block;
	color: #000000;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
	margin-top: 45px;
}

.position-list-item .title:hover{
	color:#02b84c;
}


.position-list-item .info{
	margin-top: 5px;
	color: #999;
}

.search-index{
	margin-top: 50px;
	margin-bottom: 50px;
}

.search-bar{
	margin: 0;
	padding: 0;
}

.search-bar input{
	border-radius: 0;
	height: 45px;
}

.search-btn {
	margin: 0;
	padding: 0;
}


.button {
    background-color: #33b753; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    float: left;
    width: 80%;
    height: 45px;
    padding: 0;
}

.button:hover {
    background-color: #5ec778;
}

.recommend-card{
	margin-bottom: 20px;
}

.recommend-card .card-title{	
	border: solid;
	border-width: 1px;
	border-color: #F0F0F0;
	padding: 10px 20px 10px 10px;
	font-size: 19px;
}

.recommend-card .card-title a{
	float: right;
	font-size: 12px;
	padding-top: 5px;
	color: #02b84c;
	text-decoration: none;
}

.recommend-card .card-body{
	border: solid;
	border-width: 1px;
	border-color: #F0F0F0;
	height: 90px;
}

.recommend-card .card-body a{ 
	font-size: 16px;
	color: #000000;
	text-decoration: none;	
}
.recommend-card .card-body a:hover{
	color:#02b84c;
}

.recommend-card .card-body .title1{	
	font-size: 10px;
	color: #999;
}
.recommend-card .card-body .card-body-abr{
	padding-top: 20px;	
}

.recommend-card .card-body .card-body-abr .title{
	border: 0;
	background-color: white;
}

.recommend-card .card-body .card-body-abr:hover{
	color: #02b84c;
}

.recommend-card .card-body .card-body-abr .title1{
	border: 0;
	background-color: white;
}

.card-title span{
	color: #33b753;
	font-size: 23px;
	font-weight: 600;
}

.filter {
    position: relative;
    overflow: hidden;
    padding: 18px 26px 18px 20px;
    margin-bottom: 20px;
    border: 1px solid #e6e8ea;
    background-color: #fafafa;
    transition: max-height 0.3s ease;
}

.condition{
	margin-top: 10px;
}


.filter.active {
    max-height: 410px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}


dd {
    display: block;
    margin-inline-start: 40px;
}

 .filter dl {
    position: relative;
    padding-left: 75px;
}

.filter dt {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding: 6px 5px 6px 0;
}

.filter dd.active {
    background-color: #41af55;
    color: #fff;
}

.filter dd {
    float: left;
    font-size: 14px;
    color: #333;
    padding: 3px 8px;
    margin: 3px 2px;
    cursor: pointer;
}

.position-sort{
	margin-bottom: 20px;
}

.sort-title {
    line-height: 47px;
    font-size: 14px;
    color: #666;
    padding-left: 9px;
    border: 1px solid #e6e8ea;
    background-color: #fafafa;
}

.sort-title .sort-by {
    padding: 5px 11px;
    cursor: pointer;
}

.sort-title .sort-by.active {
    color: #fff;
    background-color: #41af55;
}

.buttom-form{
	width: 37%;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
