<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />-->
	<title>删除用户</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='static/css/main.css') }}" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='static/img/favicon.ico') }}" />
</head>
<body>
	<!--导航栏 -->
		<div class="container">
			<div class="navbar-header navbar-left">
				<a href="index.html" class="navbar-brand"></a>
			</div>
		</div>		
	
	<!--注册信息-->
	<div  class="container clearfix">
		
		<div class="col-sm-7">	
			<img src="{{ url_for('static', filename='static/img/sign2.jpg') }}" class="img-bg"/>
		</div>
		
		<form action="#" enctype="multipart/form-data">
			<div class="col-sm-5 container-small1 clearfix">
		
				<h1>删除用户</h1>
				
					<div class="form-group">
						<label>用户名</label>
						<input type="text" class="form-control" id="user_name"/>
					</div>
					
					<div class="form-group">
						<label>再次输入</label>
						<input type="text" class="form-control" id="name"/>
					</div>

					<div class="form-group">
						<button class="btn btn-primary btn-block buttom-form" id="register_come">删除</button>
					</div>
					
	 		</div>
	 	</form>
	 	
	</div>
	<script src="{{ url_for('static', filename='static/lib/jquery/jquery-3.4.1.js') }}"></script>
	<script>
		$("#register_come").click(function(){
			var user_name = $("#user_name").val()
			var name = $("#name").val()
			var data = {
				data:JSON.stringify({
					"user_name":device_name,
					"name":register_password,
				}),			
			}
			console.log(data)
			$.ajax({
				type: "post",
				url: "{{ url_for('manager.delete')}}",
				dataType: "json",
				async: false,
				data: data,
				success: function(result){	
					if(result.msg != "success"){
						alert(result.msg)
					}else{
						var user_name = $("#register_name").val()
						window.location.href="{{ url_for('manager.user_info')}}"
						
					}	
				},
				error:function(){
					alert("用户名存在或没有填写完整信息!")
				}
			});								
			
		})
	</script>
	
</body>
</html>
