<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>猎聘</title>
		<link rel="stylesheet" href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" />
	</head>

	<body>
		<!--导航栏 -->
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand"></a>
				</div>
				<!--<ul class="nav navbar-nav">				
				<li ><a href="index.html">首页</a></li>
				<li class="active"><a href="#">找职位</a></li>
				<li><a href="#">名企校招</a></li>
				<li><a href="#">宣讲会</a></li>
				<li><a href="#">空中宣讲会</a></li>
			</ul>-->
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="sign/signin.html">登录</a>
					</li>
					<li>
						<a href="sign/signup.html">注册</a>
					</li>
				</ul>
			</div>
		</div>

		<!--上-->

		<!--搜索栏-->
		<div class="container search-index">
			<div class="col-sm-2"></div>
			<div class="col-sm-6 search-bar">
				<input type="search" class="form-control" placeholder="搜职位、搜公司、搜校招、搜关键字...">
			</div>
			<div class="col-sm-2 search-btn">
				<button type="submit" class="button">搜索</button>
			</div>
			<div class="col-sm-2"></div>
		</div>

		<!--下-->
		<div class="container container-change">
			<!--container-adapt-->
			<div class="row">
				<div class="col-sm-9">
					<!--分类显示 -->

					<div class="position-classify clearfix">
						<ul class="filter active">

							<li class="condition">
								<dl class="clearfix" data-selector="industrys" id="industry_id">
									<dt class="special">行业：</dt>
									<dd class="active" data-code="">不限</dd>
									<dd data-code="1">互联网/游戏/软件</dd>
									<dd data-code="2">电子/通信/硬件</dd>
									<dd data-code="3">房地产/建筑/物业</dd>
									<dd data-code="4">金融</dd>
									<dd data-code="5">消费品</dd>
									<dd data-code="6">汽车/机械/制造</dd>
									<dd data-code="7">服务/外包/中介</dd>
									<dd data-code="8">广告/传媒/教育/文化</dd>
									<dd data-code="9">交通/贸易/物流</dd>
									<dd data-code="10">制药/医疗</dd>
									<dd data-code="11">能源/化工/环保</dd>
									<dd data-code="12">政府/农林牧渔</dd>
								</dl>
							</li>					
						</ul>
					</div>				

					<!--具体显示-->
					<div class="position-list">
						
						<div class="position-list-item clearfix">
							<div class="col-sm-5">
								<a href="position/position-info.html" class="title">软件测试工程师</a>
								<div class="info infoleft">
									<span class="glyphicon glyphicon-map-marker">成都·武侯区·新会展中心</span>
									<span class="glyphicon glyphicon-education">python</span>	
								</div>
							</div>
							<div class="col-sm-4">
								<a class="title1" href="#">广电运通金融电子</a>						
							</div>
							<div class="col-sm-2">
								<img src="../static/img/example.png" alt="公司Logo" />
							</div>
						</div>
										

					</div>
				</div>

				<div class="col-sm-3">
					<!--推荐栏1-->
					<div class="recommend-card">
						<div class="card-title clearfix"><span>|</span>猜你喜欢
							<a href="#">换一批</a>
						</div>
						
						<div class="card-body clearfix">
							<div class="col-sm-4">
								<img src="../static/img/example.png" alt="公司Logo" />
							</div>
							<div class="col-sm-8 card-body-abr">
								<a href="position/position-info.html" class="title">软件测试工程师</a>
								<br />
								<a class="title1" <img src="../../img/user.png" />广电运通金融电子</a>
							</div>
						</div>	
						
						
						
					</div>
					<!--推荐栏2-->
					<div class="recommend-card">
						<div class="card-title clearfix"><span>|</span>热门职位
							<a href="#">换一批</a>
						</div>
						
						<div class="card-body clearfix">
							<div class="col-sm-4">
								<img src="../static/img/example.png" alt="公司Logo" />
							</div>
							<div class="col-sm-8 card-body-abr">
								<a href="position/position-info.html" class="title">软件测试工程师</a>
								<br />
								<a class="title1" href="#">广电运通金融电子</a>
							</div>
						</div>
						
						
											
					</div>
				</div>
			</div>

		</div>

		<div class="footer">
			©2020 猎聘 (京)-经营性-2017-0020 京公网安备11000002000001号 京ICP证030173号
		</div>
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="../static/lib/jquery/jquery-3.4.1.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
		<!--自己的插件 -->
		<script src="../static/js/index.js"></script>
	</body>

</html>