<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />-->
	<title>首页</title>
	<link rel="stylesheet" href="./static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="./static/css/main.css" />
	<link rel="shortcut icon" href="./static/img/favicon.ico" />
</head>
<body src="">
	<!--导航栏 -->
	<div class="container">
		<div class="navbar-header">
				<a href="index.html" class="navbar-brand"></a>
		</div>
	</div>
	
	<!--登录信息-->
	<div  class="container" >
		<div class="col-sm-7">	
			<img src="./static/img/user.jpg" class="img-bg"/>
		</div>
		<div class="col-sm-7 container-small">
		<h1>登录</h1>
		<form action="#" id="formid" enctype="multipart/form-data">		
			<div class="form-group">
				<label id="user_cu">用户名</label>
				<input type="text" class="form-control" name="username" id="login_name"/>
			</div>
			<div class="form-group">
				<label>密码</label>
				<input type="password" class="form-control" name="password" id="login_password"/>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="button" id="login_user">登录</button>
			</div>
	   </form>
		</div>	
	</div>
	
	<script src="./static/lib/jquery/jquery-3.4.1.js"></script>
	<script>
		$("#login_user").click(function(){
			var login_name = $("#login_name").val()
			var login_password = $("#login_password").val()	
			var data = {
				data:JSON.stringify({
					"username":login_name,
					"password":login_password
				}),			
			}
			console.log(data)
			$.ajax({
				type: "post",
				url: "http://127.0.0.1:5000/user/login",
				dataType: "json",
				async: false,
				data: data,
				success: function(result){
					if(result.msg != "success"){
						alert(result.msg)
					}else{
						var user_name = $("#login_name").val()
						window.location.href="movie.html"
						sessionStorage.setItem('username',user_name)
						sessionStorage.setItem('user',"用户")
					}	
				}
			});								
			
		})
	</script>
</body>
</html>