<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>猎聘</title>
	<link rel="stylesheet" href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/main.css" />
	<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" />	
</head>
<body>
	<!--导航栏 -->
		<div class="container">
			<div class="navbar-header navbar-left">
				<a href="index.html" class="navbar-brand"></a>
			</div>
		</div>		
	
	<!--登录信息-->
	<div  class="container" >
		<div class="col-sm-7">	
			<img src="../static/img/sign.png" class="img-bg"/>
		</div>
		<div class="col-sm-5 container-small">
		<h1>登录
		<small>没有账号！<a href="register.html">注册</a></small>
		</h1>
		<form action="#" >	
			<div class="form-group">
				<label>用户名</label>
				<input type="text" class="form-control" id="login_name"/>
			</div>
			<div class="form-group">
				<label>密码</label>
				<input type="password" class="form-control" id="login_password"/>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit" id="login_come">登录</button>
			</div>
	   </form>
		</div>	
	</div>
	
	<script src="../static/lib/jquery/jquery-3.4.1.js"></script>
	<script>
		$("#login_come").click(function(){
			var login_name = $("#login_name").val()
			var login_password = $("#login_password").val()	
			$.ajax({
				type:"get",
				url:"../static/date/login.json",
				dateType:"json",
				success:function(result){
					var loginlist = result.user
					console.log(loginlist)
					if(login_name == loginlist[0].name && login_password == loginlist[0].password){
						 window.location.href = 'job.html'
					}else{
						 alert("密码或用户名错误！")
					}
				}
			})
		})
	</script>
</body>
</html>