<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>职位</title>
		<link rel="stylesheet" href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/position.css" />
		<link rel="stylesheet" href="../static/css/user.css" />
		<link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.ico" />
	</head>

	<body>
		<!--导航栏 -->
		<div class="navbar navbar-default">
			<div class="container">

				<div class="col-sm-3 navbar-header">
					<a href="index.html" class="navbar-brand"></a>
				</div>

				<ul class="col-sm-7 nav navbar-nav">
					<!--<li class="active"><a href="#">首页</a></li>
						<li><a href="">找职位</a></li>
						<li><a href="#">名企校招</a></li>
						<li><a href="#">宣讲会</a></li>
						<li><a href="#">空中宣讲会</a></li>-->
				</ul>

				<div class="col-sm-2 btn-groupn navbar-right">
					<a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" id="user_name"> </span></a>
					<ul class="dropdown-menu dropdown-menu-left">
						<li>
							<a href="job.html">返回主页</a>
						</li>					
						<li role="separator" class="divider"></li>
						<li>
							<a href="login.html">退出</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container position-top">
			<div class="position-list-item ">
				<div class="col-sm-7">
					<h1 id="position_nameh"></h1>
					<div class="position-info-1 row">
						<div class="col-sm-1 "></div>
						<div class="col-sm-2 position-info-reward"><span class="glyphicon glyphicon-education" id="position_typeh"></span></div>
						<div class="col-sm-5"><span class="glyphicon glyphicon-map-marker" id="position_placeh"></span></div>
					</div>
				</div>
				
				<div class="col-sm-2 position-a ">
					<a href="#" class="btn-store">收藏</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="col-sm-8">				
				<div class="user-list">					
					<div class="user-list-item1"><span>|</span> 职位待遇</div>
				</div>
				<div class="position-desc" id="position_treatmenth">
					
				</div>
				
				<div class="position-evaluate" id="evaluate_update">
					<div class="user-list" >					
						<div class="user-list-item1"><span>|</span> 请您对此职位推荐做出评价：</div>
					</div>
					<div class="form-group" >                
                        <div class="col-sm-7">
                            <label class="radio-inline">
                                <input type="radio" name="occur"> 1分
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="occur"> 2分
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="occur"> 3分
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="occur"> 4分
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="occur"> 5分
                            </label>
                        </div>
                        <div class="col-sm-2 position-a-bottom">
                    		<button class="position-determine btn-submit" id="evaluate_update_a">确定</button>
                    	</div>
                    </div>
                   </div>  
                            
				</div>
				
			<div class="col-sm-4">
				<div class="company-sketch">
					<div id="company_img">
						
					</div>		
					<h4 id="company_nameh"></h4>
					<p id="company_emailh"></p>
			</div>
		</div>		
		
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="../static/lib/jquery/jquery-3.4.1.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
		<script>
			var position_grade = ''
			
			$(function(){
				position_info_add()				
				username_add()
				
				//增加名字
				function username_add(){
					var date = sessionStorage.getItem('username')
					$("#user_name").append(date)
				}
				
				//职位信息变通
				function position_info_add(){
					//获取链接中id
					var href = location.href
					var tol = href.length
					var pos = href.indexOf("=")
					var id = decodeURI(href.substr(pos+1,tol-pos))
					var img = ''
					
					
					$.ajax({
						type:"get",
						url:"../static/date/job.json",
						dataType:"json",
						success:function(result){
							var positionlist = result.position
							console.log(positionlist)
							for(var i = 0; i < positionlist.length; i++){
								if(positionlist[i].id == id){							
									$("#position_nameh").append(positionlist[i].name)
									$("#position_typeh").append(positionlist[i].classify.name)
									$("#position_placeh").append(positionlist[i].position_place)
									$("#position_treatmenth").append(positionlist[i].position_treatment)						
									$("#company_nameh").append(positionlist[i].company.name)
									$("#company_emailh").append(positionlist[i].company.email)
									img += '<img src="'+positionlist[i].company.photo_addr+'" />'
									$("#company_img").append(img)
									position_grade = positionlist[i].position_grade
								}
								if(position_grade > 0){
									$('#evaluate_update').empty()	
									evaluate_add()
								}
							}
						}
					})
				}
			})
			
			//在此判断若没有评分则按下列进行实现		
			$('#evaluate_update_a').click(function(){
				$('#evaluate_update').empty()	
				evaluate_add()
			})
			
			//若评分先清空再显示
			//$('#evaluate_update').empty()	
			//	evaluate_add()
			
			
			function evaluate_add(){
				$('#evaluate_update')
				.append($("<div class='user-list'></div>")
				.append($("<div class='user-list-item1'></div>")
				.append($("<span>|</span>")).append("该职位的总评价为：").append(position_grade+"分")))		
				}
											
		</script>
		<!--自己的插件 -->
		<script src="../static/js/index.js"></script>
	</body>

</html>
