<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>接口测试</title>
</head>
 
<body>
		<div id="test" style="width: 600px;height:400px;">

			
		</div>
    

 
<script src="jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        getDate();
 
        function getDate() {
            var temp = '';
            $.ajax({
                type: "get",
                url: "job/test",
                dataType: "json",
                success: function(result) {
                    var list = result;
                    console.log(list);
                    for(var i = 0; i < list.length; i++) {
                      	  temp += '<h2>'+list[i].name+'<h2>'+
                      	  		 '<h2>'+list[i].treatment+'<h2>'        				
                    }
                    $("#test").append(temp);
                }
            });
        }
    });
</script>
</body>
</html>
